* {
    font-size: 100%;
    font-family: Arial;
}

*:focus {
    outline: none;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.wrapper {
    width: 30%;
    padding: 40px;
    border: 1px solid #5b9bd5;
}

.field {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.field__label {
    color: #444444;
    width: 30%;
}
.field__input {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #5b9bd5;
    width: 65%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit {
    font-size: 14px;
    color: #fff9fb;
    background-color: #4991c0;
    padding: 12px 32px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

.btn-submit:hover {
    background-color: #2a5a79;
}
